@()

@main("Запасы") {
    <div id="app">
        <nav class="nav">
            <div class="nav-left nav-menu has-shadow">
                <router-link to="/products" active-class="is-active" class="nav-item is-tab">Продукты</router-link>
                <router-link to="/categories" active-class="is-active" class="nav-item is-tab">Категории</router-link>
                <router-link to="/packs" active-class="is-active" class="nav-item is-tab">Упаковки</router-link>
                <router-link to="/product-types" active-class="is-active" class="nav-item is-tab">Типы продуктов</router-link>
            </div>
        </nav>

            <!-- route outlet -->
            <!-- component matched by the route will render here -->
        <router-view></router-view>
    </div>
}
